<form [formGroup] = "loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div>
        <label for="email"> Email </label>
        <input class = "input-box" type="email" id="email" formControlName="email">
        <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched" class ="error">
            Email is required and must be a valid email address.
        </div>
    </div>

    <div>
        <label for="password"> Password </label>
        <input class = "input-box" type="password" id="password" formControlName="password">
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class ="error">
            <p> Password must be at least 6 characters long </p>
        </div>
    </div>

    <button class = "btn" type="Submit" [disabled]="loginForm.invalid">Submit</button>

</form>
<p style="color: gold;">Information Details:<br>Email: {{email}}</p>